.aos-init img:nth-of-type(2)
  display: none
.page-template-page-philosophy div[class$=_img] img:nth-of-type(2)
  display: none
//[class^=casestudy_image] img:nth-of-type(2)
//  display: none
.single-listings div[class^=image] img:nth-of-type(2)
  display: none
@media (max-width: 991px)
  .visible-991
    display: block!important
  .hidden-991
    display: none!important
@media (max-width: 640px)
  .visible-640
    display: block!important
  .hidden-640
    display: none!important
div[class^=image]
  overflow: hidden
  img
    width: 100%
    height: auto
@media (min-width: 993px)
  .single-case-studies .container_big
    overflow: visible
.error-404
  margin-top: 100px
  height: calc(100vh - 100px)
  display: table
  width: 100%
  @media (max-width: 991px) and (min-width: 640px)
    height: calc(100vh - 150px)
  .title_textbox
    display: table-cell
    vertical-align: middle


