.casestudy_text1
  position: absolute
  top: 100px
  right: 0
  width: 699px
  height: 548px
  background: $cPrimary
  z-index: 50
  padding-right: 67px
@media (max-width: 992px)
  .casestudy_text1
    position: relative
    width: 100%
    top: 0
    right: 0
    height: auto
    padding-bottom: 35px
    padding-right: 0
.casestudy_text2
  position: absolute
  top: 647px
  right: 67px
  width: 631px
  height: 484px
  background: $cPrimary
  z-index: 50
@media (max-width: 992px)
  .casestudy_text2
    position: relative
    width: 100%
    top: 0
    right: 0
    height: auto
    padding-bottom: 35px

.casestudy_text3
  position: absolute
  top: 1127px
  right: 67px
  width: 631px
  height: 269px
  background: $cPrimary
  z-index: 50
@media (max-width: 992px)
  .casestudy_text3
    position: relative
    width: 100%
    top: 0
    right: 0
    height: auto
    padding-bottom: 35px

.casestudy_image1
  position: absolute
  top: 225px
  width: 667px
  height: 422px
  background: grey
  z-index: 49
  img
    width: 100%
    height: 100%
@media (max-width: 992px)
  .casestudy_image1
    position: relative
    width: 100%
    top: 0
    height: auto
.casestudy_image2
  position: absolute
  top: 647px
  width: 667px
  height: 482px
  background: black
  z-index: 49
  img
    width: 100%
    height: 100%
@media (max-width: 992px)
  .casestudy_image2
    position: relative
    width: 100%
    top: 0
    height: auto
.casestudy_image3
  position: absolute
  top: 1127px
  width: 667px
  height: 269px
  background: palevioletred
  z-index: 49
  img
    width: 100%
    height: 100%
@media (max-width: 992px)
  .casestudy_image3
    position: relative
    width: 100%
    top: 0
    height: auto


.title_textbox_cs
  font-family: "Perpetua boldital", "Perpetua", sans-serif
  font-size: 40px
  color: $cFour
  padding: 35px 0 15px 50px
  font-weight: 700
  margin: 0
  line-height: 1.5
@media (max-width: 992px)
  .title_textbox_cs
    padding: 35px 0 10px 25px
    font-size: 38px
@media (max-width: 639px)
  .title_textbox_cs
    line-height: 1
    font-size: 28px
    font-weight: 700

.textbox_cs1
  width: 100%
  height: 100%
  padding: 0 27px 0 50px
  font-family: Lato, sans-serif
  font-size: 16px
  font-weight: 300
  line-height: 27px
  text-align: left
  color: $cTextcl
  letter-spacing: 1.5px
@media (max-width: 992px)
  .textbox_cs1
    padding: 0 27px 0 25px


.textbox_cs2
  width: 100%
  height: 100%
  padding: 35px 27px 0 50px
  font-family: Lato, sans-serif
  font-size: 18px
  line-height: 27px
  text-align: left
  color: $cTextcl
  font-weight: 700
  letter-spacing: 1.5px
  blockquote + p
    font-weight: 300
    font-style: italic
    text-align: right
    margin-top: 25px
@media (max-width: 992px)
  .textbox_cs2
    padding: 35px 27px 0 25px


.textbox_cs3
  width: 100%
  height: 100%
  padding: 0 27px 0 50px
  font-family: Lato, sans-serif
  font-size: 16px
  line-height: 27px
  text-align: left
  color: $cTextcl
  font-weight: 300
  letter-spacing: 1.5px
@media (max-width: 992px)
  .textbox_cs3
    padding: 35px 27px 0 25px

.header_all
  position: relative
  height: 335px
.header_image
  position: absolute
  z-index: 47
  height: 500px
  width: 100%
  background: darkcyan
  max-width: 1366px
@media (max-width: 992px)
  .header_image
    height: 335px
    width: 100%
    background-size: 1366px 646px
    background-position: center
@media (min-width: 640px) and (max-width: 992px)
  .header_image
    top: 150px
.header_overlay
  position: absolute
  z-index: 48
  background: black
  opacity: 0.8
  width: 100%
  height: 500px
@media (max-width: 992px)
  .header_overlay
    height: 335px
    width: 100%



.title_cs
  position: absolute
  font-family: 'Perpetua',sans-serif
  font-size: 64px
  margin-top: 100px
  left: 220px
  color: $cPrimary
  z-index: 80
  line-height: 64px
  height: auto
@media (min-width: 993px) and (max-width: 1100px)
  .title_cs
    left: 14.5%
@media (max-width: 992px)
  .title_cs
    position: absolute
    top: 135.65px
    margin-top: 0
    left: calc(50% - 64px)
@media (min-width: 640px) and (max-width: 991px)


.title_csl
  position: absolute
  font-family: 'Lato Light',sans-serif
  font-size: 8px
  top: 180px
  left: 260px
  color: $cPrimary
  z-index: 80
  line-height: 8px
  height: auto
  opacity: 0.3
  text-transform: uppercase
@media (min-width: 993px) and (max-width: 1100px)
  .title_csl
    left: 19.3%
@media (max-width: 992px)
  .title_csl
    position: absolute
    top: 225px
    margin-top: 0
    left: calc(50% - 16px)

