
.demo-container.clocks {
  background: transparent;
  padding: 0;
  width: 170px;
  height: 170px;
  overflow: hidden;
  margin-left: calc(50% - 85px);
}

.clock {
  border-radius: 50%;
  background: radial-gradient(#000, #000 0.1em, #fff 0.1em, #fff), #fff;
  display: inline-block;

  position: relative;
  width: 170px;
  height: 170px;
  opacity: 0;

}

// Put in a no-js alternative so they're not invisible

.clock.show {
  opacity: 1;

}

.clock::after {
  background: transparent;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: calc(50% - 2%);
  top: calc(50% - 2%);

  width: 4%;
  height: 4%;
  z-index: 10;
}

.minutes-container, .hours-container, .seconds-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hours-container {
  animation: rotate 43200s infinite linear;
}

.linear {
  .minutes-container {
    animation: rotate 3600s infinite linear;
  }
  .seconds-container {
    animation: rotate 60s infinite linear;
  }
}

.steps {
  .minutes-container {
    animation: rotate 3600s infinite steps(60);
  }
  .seconds-container {
    animation: rotate 60s infinite steps(60);
  }
}

.local.steps {
  .minutes-container {
    animation: none;
  }
}

.bounce {
  .minutes-container {
    transition: transform 0.3s cubic-bezier(.4,2.08,.55,.44);
  }
  .seconds-container {
    transition: transform 0.2s cubic-bezier(.4,2.08,.55,.44);
  }
}

.hours {
  background: url(../img/hour.svg) no-repeat;
  background-size: cover;
  width: 9.5px;
  height: 28%;
  position: absolute;
  left: 47.35%;
  top: 25.3%;
  transform-origin: 50% 89.27%;
  z-index: 10;
}

.minutes {
  background: rgba(173,168,170,0);
  background: -moz-linear-gradient(left, rgba(173,168,170,0) 0%, rgba(170,165,167,0.52) 19%, rgba(170,165,167,0.52) 19%, rgba(170,165,167,0.55) 20%, rgba(170,165,167,0.93) 24%, rgba(170,165,167,0.93) 47%, rgba(171,171,171,0.93) 67%, rgba(171,171,171,0.93) 80%, rgba(102,99,102,0.93) 95%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(173,168,170,0)), color-stop(19%, rgba(170,165,167,0.52)), color-stop(19%, rgba(170,165,167,0.52)), color-stop(20%, rgba(170,165,167,0.55)), color-stop(24%, rgba(170,165,167,0.93)), color-stop(47%, rgba(170,165,167,0.93)), color-stop(67%, rgba(171,171,171,0.93)), color-stop(80%, rgba(171,171,171,0.93)), color-stop(95%, rgba(102,99,102,0.93)));
  background: -webkit-linear-gradient(left, rgba(173,168,170,0) 0%, rgba(170,165,167,0.52) 19%, rgba(170,165,167,0.52) 19%, rgba(170,165,167,0.55) 20%, rgba(170,165,167,0.93) 24%, rgba(170,165,167,0.93) 47%, rgba(171,171,171,0.93) 67%, rgba(171,171,171,0.93) 80%, rgba(102,99,102,0.93) 95%);
  background: -o-linear-gradient(left, rgba(173,168,170,0) 0%, rgba(170,165,167,0.52) 19%, rgba(170,165,167,0.52) 19%, rgba(170,165,167,0.55) 20%, rgba(170,165,167,0.93) 24%, rgba(170,165,167,0.93) 47%, rgba(171,171,171,0.93) 67%, rgba(171,171,171,0.93) 80%, rgba(102,99,102,0.93) 95%);
  background: -ms-linear-gradient(left, rgba(173,168,170,0) 0%, rgba(170,165,167,0.52) 19%, rgba(170,165,167,0.52) 19%, rgba(170,165,167,0.55) 20%, rgba(170,165,167,0.93) 24%, rgba(170,165,167,0.93) 47%, rgba(171,171,171,0.93) 67%, rgba(171,171,171,0.93) 80%, rgba(102,99,102,0.93) 95%);
  background: linear-gradient(to right, rgba(173,168,170,0) 0%, rgba(170,165,167,0.52) 19%, rgba(170,165,167,0.52) 19%, rgba(170,165,167,0.55) 20%, rgba(170,165,167,0.93) 24%, rgba(170,165,167,0.93) 47%, rgba(171,171,171,0.93) 67%, rgba(171,171,171,0.93) 80%, rgba(102,99,102,0.93) 95%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ada8aa', endColorstr='#666366', GradientType=1 );width: 1px;
  height: 37%;
  position: absolute;
  left: 50%;
  top: 13.8%;
  transform-origin: 50% 100%;
  z-index: 5;
}

.seconds {
  background: transparent;
  width: 1.5%;
  height: 42%;
  position: absolute;
  left: 49.25%;
  top: 20%;
  transform-origin: 50% 71%;
  z-index: 8;
}

.label {
  background: #fff;
  border-radius: 0.25em;
  color: #000;
  font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5em 0.75em 0.25em;
  position: absolute;
  top: -4em;
  left: 50%;
  transform: translate(-50%, 0);
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

.clock.station {
  background: url(../img/clock.png) no-repeat center;
  background-size: 100%;
  box-shadow: none;
}

.clock.station .seconds::before {
  background: transparent;
  border-radius: 50%;
  content: "";
  position: absolute;
  top: -9%;
  left: -200%;
  height: 18%;
  width: 500%;
}

.clock.ios7 {
  background: #fff url(/assets/images/posts/clocks/ios_clock.svg) no-repeat center;
  background-size: 88%;
}

.clock.ios7:before {
  background: black;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 6%;
  height: 6%;
  z-index: 0;
}

.clock.ios7:after {
  width: 2%;
  height: 2%;
}

.clock.ios7 .seconds {
  border-radius: 200%/10%;
  height: 30%;
  left: 49.5%;
  top: 20%;
  width: 1%;
  transform-origin: 50% 100%;
}

.clock.ios7 .minutes {
  border-radius: 150%/10%;
  width: 2%;
  height: 35%;
  left: 49%;
  top: 15%;
  transform-origin: 50% 100%;
}

.clock.ios7 .hours {
  border-radius: 85%/10%;
  width: 2%;
  height: 20%;
  left: 49%;
  top: 30%;
  transform-origin: 50% 100%;
}


.clock.simple {
  background: #fff url(/assets/images/posts/clocks/ios_clock.svg) no-repeat center;
  background-size: 88%;
}

.clock.simple:after {
  background-color: #000;
  width: 5%;
  height: 5%;
}

.clock.simple .seconds {
  background-color: #000;
  height: 45%;
  left: 49.5%;
  top: 14%;
  width: 1%;
  transform-origin: 50% 80%;
}

.clock.simple .minutes {
  width: 2%;
  height: 40%;
  left: 49%;
  top: 10%;
  transform-origin: 50% 100%;
}

.clock.simple .hours {
  width: 2.5%;
  height: 20%;
  left: 48.75%;
  top: 30%;
  transform-origin: 50% 100%;
}

.hours.angled {
  transform: rotateZ(0), translate3d(-50%, -89.27, 0);
}

.minutes.angled {
  transform: rotateZ(40deg);
}
