
/**************************************SASS stylesheet of contacts page




//**********************************************container with pictures
.bg_block_picture
  position: absolute
  width: 100%
  height: 100%
  background-repeat: no-repeat
  -webkit-background-size: cover
  -o-background-size: cover
  -moz-background-size: cover
  background-size: cover
  z-index: 1

@media (max-width: 992px)
  .bg_block_picture
    position: fixed
    background-position: right


//****************************************container with shadow overlay
.bg_block_shadow
  position: absolute
  height: 100%
  width: 100%
  background: $c_bg_contacts1 no-repeat
  -webkit-background-size: cover
  -o-background-size: cover
  -moz-background-size: cover
  background-size: cover
  opacity: 0.85
  z-index: 2
  filter: contrast(150%)
@media (max-width: 992px)
  .bg_block_shadow
    position: fixed
    background-position: 50%



//**********************************************containers with content
.Form
  width: 100%
  height: auto
  background: transparent

.time_clocks
  width: 100%
  height: auto
  margin-top: 75px
@media (max-width: 750px)
  .time_clocks
    margin-top: 15px


//*********************************************************contact form
.wpcf7-form
  margin-bottom: 0





//************************Styles for input and textarea, label and submit
.wpcf7-form input,
.wpcf7-form textarea
  border: none
  -webkit-border-radius: 0
  -moz-border-radius: 0
  border-radius: 0
  -webkit-box-shadow: none
  -moz-box-shadow: none
  box-shadow: none
  background: transparent
  color: $cPrimary
  font-size: 16px
  padding: 3px 0 12px 0
  margin: 0
  resize: none

.wpcf7-form input
  width: 100%
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  border-bottom: 1px solid $cPrimary
  line-height: 16px
  font-family: Lato , sans-serif
  font-weight: 400
  letter-spacing: 1.5px
  text-transform: uppercase
  outline: 0
  height: auto
  color: $ccolorPl

.wpcf7-form label
  font-style: italic
  margin: 0 !important
  font-family: "Perpetua", sans-serif
  color: $cPrimary
  font-size: 16px
  line-height: 8px
  letter-spacing: 1.5px
@media (max-width: 988px)
  .wpcf7-form label
    font-size: 20px !important
@media (min-width: 993px)
  .wpcf7-form textarea
    width: 100%
    min-height: 287px
    resize: vertical
    line-height: 24.6px
    letter-spacing: 1.5px
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    border-bottom: 1px solid $cPrimary
    font-family: Lato , sans-serif
    font-weight: 400
    text-align: justify
    outline: 0
    color: $ccolorPl
@media (min-width: 320px) and (max-width: 992px)
  .wpcf7-form textarea
    width: 100%
    max-height: 160px
    resize: vertical
    line-height: 24.6px
    letter-spacing: 1.5px
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    border-bottom: 1px solid $cPrimary
    font-family: Lato , sans-serif
    font-weight: 400
    text-align: justify
    outline: 0
    color: $ccolorPl

.wpcf7-form .wpcf7-submit
  display: inline-block
  cursor: pointer
  text-decoration: none
  width: auto
  margin-top: 18px
  margin-left: calc(50% - 27px)
  padding: 5px 0 5px 0
  line-height: 36px
  text-transform: none
  background: transparent
  color: $cPrimary
  font-family: "Perpetua", sans-serif
  font-size: 24px
  font-weight: 500
  letter-spacing: 1.5px
  border-bottom: 1px solid $cPrimary

  text-align: center
  vertical-align: middle

  -webkit-transition: background 0.2s linear 0s, color 0.2s linear 0s
  -moz-transition: background 0.2s linear 0s, color 0.2s linear 0s
  -o-transition: background 0.2s linear 0s, color 0.2s linear 0s
  transition: background 0.2s linear 0s, color 0.2s linear 0s


.wpcf7-form .wpcf7-submit:hover
  color: $cPrimary
  text-decoration: none
  font-family: "Perpetua", sans-serif

.wpcf7-form .wpcf7-submit:active
  color: $cPrimary
  text-decoration: none
  font-family: "Perpetua", sans-serif


div.wpcf7-validation-errors
  display: none!important
.timezone
  margin-top: 40px
  background: transparent
  color: $cPrimary
  font-family: Lato,sans-serif
  font-weight: 700
  text-transform: uppercase
  text-align: center
  letter-spacing: 1.5px
@media (max-width: 750px)
  .timezone
    text-align: left

.adress
  color: $cFour
  font-family: Lato,sans-serif
  font-weight: 300
  text-align: center
  line-height: 23.6px
  letter-spacing: 1.5px
  display: block
  &:hover,&:focus
    color: $cFour
    text-decoration: none
@media (min-width: 640px) and (max-width: 992px)
  .adress
    font-size: 20px
    line-height: 30px
    letter-spacing: 3px
@media (max-width: 750px)
  .adress
    text-align: left


.clock
  margin-left: calc(50% - 85px)

.country_time
  width: 100%
  margin-top: 20px

@media (max-width: 480px)
  .adrbar
    background: transparent
    height: 171px
    padding: auto
    display: table-cell
    vertical-align: middle
    .timezone
      font-size: 14px
      margin-top: 0
    .adress
      font-size: 14px
//********************************Elements of contact form <p> (margins)
.wpcf7-form p
  margin-top: -12px
  padding: 0
  width: 48.3%
.wpcf7-form p:nth-of-type(2)
  margin-top: 25px
.wpcf7-form p:nth-of-type(3)
  margin-top: 25px
.wpcf7-form p:nth-of-type(4)
  margin-top: 25px
.wpcf7-form p:nth-of-type(5)
  position: absolute
  top: 0
  right: 15px
.wpcf7-form p:last-of-type
  width: 100%
@media (max-width: 992px)
  .wpcf7-form p
    width: 100%
  .wpcf7-form p.contact-message
    margin-top: 25px
  .wpcf7-form p:nth-of-type(5)
    position: static
    margin-top: 30px