@import url('//fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700')
//@import url('//db.onlinewebfonts.com/c/93da3318761ea9993b45f2620c4cb985?family=Perpetua')

@font-face
  font-family: 'Perpetua'
  src: url('https://db.onlinewebfonts.com/t/93da3318761ea9993b45f2620c4cb985.eot')
  src: url('https://db.onlinewebfonts.com/t/93da3318761ea9993b45f2620c4cb985.eot?#iefix') format('embedded-opentype'), url('https://db.onlinewebfonts.com/t/93da3318761ea9993b45f2620c4cb985.woff') format('woff'), url('https://db.onlinewebfonts.com/t/93da3318761ea9993b45f2620c4cb985.ttf') format('truetype'), url('https://db.onlinewebfonts.com/t/93da3318761ea9993b45f2620c4cb985.svg#fontname') format('svg')
  font-weight: normal
  font-style: normal

//@font-face
  font-family: "Perpetua Ital"
  src: url("//db.onlinewebfonts.com/t/93da3318761ea9993b45f2620c4cb985.eot")
  src: url("//db.onlinewebfonts.com/t/93da3318761ea9993b45f2620c4cb985.eot?#iefix") format("embedded-opentype")
  src: url("//db.onlinewebfonts.com/t/93da3318761ea9993b45f2620c4cb985.woff2") format("woff2")
  src: url("//db.onlinewebfonts.com/t/93da3318761ea9993b45f2620c4cb985.woff") format("woff")
  src: url("//db.onlinewebfonts.com/t/93da3318761ea9993b45f2620c4cb985.ttf") format("truetype")
  src: url("//db.onlinewebfonts.com/t/93da3318761ea9993b45f2620c4cb985.svg#Perpetua") format("svg")

//@font-face
  font-family: "Perpetua boldital"
  src: url('/fonts/perpetua_bold_ital/c39eac1aaddc57c5c2f97b5b3a1422c3.eot')
  src: url('fonts/perpetua_bold_ital/c39eac1aaddc57c5c2f97b5b3a1422c3.woff2') format('woff2')
  src: url('fonts/perpetua_bold_ital/c39eac1aaddc57c5c2f97b5b3a1422c3.woff') format('woff')
  src: url('fonts/perpetua_bold_ital/c39eac1aaddc57c5c2f97b5b3a1422c3.svg') format('svg')
  src: url('fonts/perpetua_bold_ital/c39eac1aaddc57c5c2f97b5b3a1422c3.ttf') format('truetype')
@font-face
  font-family: "Perpetua boldital"
  src: url(fonts/PERBI.TTF)
@font-face
  font-family: 'Glyphicons Halflings'
  src: url('/fonts/glyphicons-halflings-regular.eot')
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype')
  src: url('fonts/glyphicons-halflings-regular.woff') format('woff')
  src: url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg')
  src: url('fonts/glyphicons-halflings-regular.ttf') format('truetype')

