/*
 * Sass file styles
 * for gallery
 */

/////////////////////////////////////////// Header's styles
.header_image_study
  position: relative
  width: 100%
  height: 667px
  background-size: cover
  -webkit-background-size: cover
  -o-background-size: cover
  -moz-background-size: cover
  overflow: hidden

.header_overlay_gallery
  position: relative
  width: 100%
  height: 667px
  background: $cFifth
  opacity: 0.65
  margin-top: -667px

.header_title_gallery
  position: relative
  font-size: 64px
  color: $cPrimary
  font-family: "Perpetua Ital","Perpetua",sans-serif
  text-align: center
  margin-top: -390px
  line-height: 64px
  padding: 0 20%

.header_gallery
  height: 667px

@media (max-width: 992px)
  .header_gallery
    height: 200px
  .header_title_gallery
    display: table-cell
    vertical-align: middle
    background: transparent
    top: -629px
    height: 466px
    width: 992px


@media (max-width: 320px)
  .header_gallery
    height: 100px
  .header_title_gallery
    margin-top: -550px
    height: 368px

.block_header_gallery
  position: relative
  width: 604px
  height: 256px
  margin-left: calc(50% - 302px)
  background: $cPrimary
  margin-top: -293px
  padding: 50px

@media (max-width: 992px)
  .block_header_gallery
    position: relative
    width: 100%
    left: 0
    top: 0
    margin-top: 268px
    margin-left: 0
    height: auto
    padding: 50px 25px
    line-height: 1
.title_textbox_gallery
  padding-bottom: 15px
  color: $cFour

.title_textbox_gallery span:nth-child(1)
  font-family: "Perpetua boldital","Perpetua",sans-serif
  font-size: 40px
  line-height: 47px
@media (max-width: 640px)
  .title_textbox_gallery span:nth-child(1)
    font-family: "Perpetua boldital","Perpetua",sans-serif
    font-size: 28px
    line-height: 32px
.title_textbox_gallery span.two
  font-family: 'Lato', sans-serif
  font-weight: 300
  font-size: 22px !important
@media (max-width: 640px)
  .title_textbox_gallery span.two
    font-family: 'Lato', sans-serif
    font-weight: 300
    font-size: 20px !important
    line-height: 24px



/////////////////////////////////////////// Wrapper ntn-child

.ntnblock .wrapper_element:nth-child(1)
  position: relative
  width: 100%
  background: $cThird
  overflow: hidden
@media (max-width: 992px)
  .ntnblock .wrapper_element:nth-child(1)
    height: auto !important
    margin-top: 0 !important

.ntnblock .wrapper_element:nth-child(2)
  position: relative
  width: 100%
  background: $cThird
  margin-top: -175px
  overflow: hidden
@media (max-width: 992px)
  .ntnblock .wrapper_element:nth-child(2)
    height: auto !important
    margin-top: 0 !important

.ntnblock .wrapper_element:nth-child(3)
  position: relative
  width: 100%
  background: $cThird
  overflow: hidden
  margin-top: -100px
@media (max-width: 992px)
  .ntnblock .wrapper_element:nth-child(3)
    height: auto !important
    margin-top: 0 !important
.ntnblock .wrapper_element:nth-child(4)
  position: relative
  width: 100%
  background: $cThird
  overflow: hidden
  margin-top: -250px
@media (max-width: 992px)
  .ntnblock .wrapper_element:nth-child(4)
    height: auto !important
    margin-top: 0 !important



/////////////////////////////////////////// Wrapper ntn-child (1)  First Block

.image1_gallery
  position: relative
  width: 1166px
  height: 663px
  left: 0
  top: 37px
  margin-top: 0
  margin-left: 0

@media (max-width: 992px)
  .image1_gallery
    position: relative
    width: 100%
    height: auto
    left: 0
    top: 0
    margin-top: 0
    margin-left: 0


/////////////////////////////////////////// Wrapper ntn-child (2) Second Block

.image2_gallery
  position: absolute
  margin-top: 100px
  left: 100px
  width: 604px
  height: 790px
  z-index: 1
@media (max-width: 992px)
  .image2_gallery
    display: block
    position: relative
    left: 0
    width: 100%
    height: auto
    margin-top: 0

.block_text1_gallery
  position: absolute
  width: 640px
  height: 388px
  left: calc(100% - 772px)
  margin-top: 0
  background: $cPrimary
  z-index: 21
  padding: 50px

@media (max-width: 992px)
  .block_text1_gallery
    position: relative
    width: 100%
    left: 0
    top: 0
    margin-top: 0
    margin-left: 0
    padding: 25px 25px
    height: auto

.image3_gallery
  position: absolute
  height: 646px
  width: 888px
  left: 480px
  margin-top: 280px
  z-index: 20

@media (max-width: 992px)
  .image3_gallery
    position: relative
    width: 100%
    height: auto
    left: 0
    top: 0
    margin-top: 0
    margin-left: 0


/////////////////////////////////////////// Wrapper ntn-child (3)  Third Block

.image4_gallery
  position: absolute
  height: 761px
  width: 595px
  left: 0
  margin-top: 7px

@media (max-width: 992px)
  .image4_gallery
    position: relative
    width: 100%
    height: auto
    left: 0
    top: 0
    margin-top: 0
    margin-left: 0

.block_text2_gallery
  position: absolute
  left: calc(100% - 772px)
  margin-top: 0
  background: $cPrimary
  width: 640px
  height: 388px
  z-index: 21
  padding: 50px

@media (max-width: 992px)
  .block_text2_gallery
    position: relative
    height: auto
    width: 100%
    left: 0
    top: 0
    margin-top: 0
    margin-left: 0
    padding: 25px

.image5_gallery
  position: absolute
  height: 886px
  width: 774px
  left: 595px
  margin-top: 97px
  z-index: 20

@media (max-width: 992px)
  .image5_gallery
    position: relative
    width: 100%
    left: 0
    padding-top: 0
    margin-top: 0
    margin-left: 0
    height: auto



/////////////////////////////////////////// Wrapper ntn-child (4)  Fourth Block
.image6_gallery
  position: relative
  width: 670px
  height: 432px
  left: 100px
  margin-top: 0
  z-index: 21

@media (max-width: 992px)
  .image6_gallery
    position: relative
    width: 100%
    height: auto
    left: 0
    margin-top: 0
    margin-left: 0





a[rel="prev"]
  position: absolute
  width: auto
  left: 70px
  font-size: 10px
  font-family: "Lato Light", sans-serif
  color: white
  opacity: 0.3
  z-index: 1000
  top: 270px
  letter-spacing: 2.2px
  text-transform: uppercase
a[rel="next"]
  position: absolute
  width: auto
  right: 70px
  font-size: 10px
  font-family: "Lato Light", sans-serif
  color: white
  opacity: 0.3
  z-index: 1000
  top: 270px
  letter-spacing: 2.2px
  text-transform: uppercase
a[rel="prev"]:hover, a[rel="next"]:hover, a[rel="prev"]:focus, a[rel="next"]:focus
  text-decoration: none
@media (max-width: 992px)
  a[rel="prev"], a[rel="next"]
    top: 230px
@media (max-width: 580px)
  a[rel="prev"]
    left: 15px
  a[rel="next"]
    right: 15px
@media (max-width: 580px)
  a[rel="prev"], a[rel="next"]
    top: 250px
@media (max-width: 320px)
  a[rel="prev"], a[rel="next"]
    top: 175px