.header_image_study
  position: relative
  width: 100%
  height: 667px
  background-size: cover
  overflow: hidden
.header_overlay_gallery
  position: relative
  width: 100%
  height: 667px
  background: black
  opacity: 0.65
  margin-top: -667px
.header_title_gallery
  position: relative
  font-size: 64px
  color: $cPrimary
  font-family: "Perpetua Ital","Perpetua",sans-serif
  text-align: center
  margin-top: -430px
  line-height: 64px
  font-weight: 400
  margin-bottom: 0

.header_gallery
  height: 667px
@media (max-width: 992px)
  .header_gallery
    height: 200px
  .header_title_gallery
    margin-top: -490px
@media (max-width: 320px)
  .header_gallery
    height: 100px
  .header_title_gallery
    margin-top: -580px


.block_header_gallery
  position: relative
  width: 604px
  height: 293px
  margin-left: calc(50% - 302px)
  background: $cPrimary
  margin-top: -293px
  padding: 50px
@media (max-width: 992px)
  .block_header_gallery
    position: relative
    width: 100%
    left: 0
    top: 0
    margin-top: 268px
    margin-left: 0
    height: auto
    padding: 40px 25px
.title_textbox_gallery
  padding-bottom: 25px
  color: $cFour


.title_textbox_gallery span:nth-child(1)
  font-family: "Perpetua boldital","Perpetua",sans-serif
  font-size: 40px


.title_textbox_gallery span:nth-child(2)
  font-family: 'Lato', sans-serif
  font-weight: 300
  font-size: 26px


.image1_gallery
  position: relative
  left: 0
  top: 0
  margin-top: 0
  margin-left: 0
  width: 1166px
  height: 656px
@media (max-width: 992px)
  .image1_gallery
    position: relative
    width: 100%
    left: 0
    top: 0
    margin-top: 0
    margin-left: 0
    height: auto

.image2_gallery
  position: relative
  margin-top: -100px
  left: 100px
  width: 604px
  height: 790px
@media (max-width: 992px)
  .image2_gallery
    display: none
.block_text1_gallery
  position: relative
  left: calc(100% - 772px)
  margin-top: -850px
  background: $cPrimary
  width: 640px
  height: 388px
  z-index: 21
  padding: 50px
@media (max-width: 992px)
  .block_text1_gallery
    position: relative
    width: 100%
    left: 0
    top: 0
    margin-top: 0
    margin-left: 0
    padding: 50px 25px
    height: auto



.image3_gallery
  position: relative
  left: 480px
  margin-top: -100px
  z-index: 20
  height: 646px
  width: 888px
@media (max-width: 992px)
  .image3_gallery
    position: relative
    width: 100%
    left: 0
    top: 0
    margin-top: 0
    margin-left: 0
    height: auto

.image4_gallery
  position: relative
  left: 50px
  height: 525px
  width: 525px
@media (max-width: 992px)
  .image4_gallery
    position: relative
    width: 100%
    left: 0
    top: 0
    margin-top: 0
    margin-left: 0
    height: auto

.block_text2_gallery
  position: relative
  left: calc(100% - 772px)
  margin-top: -620px
  background: $cPrimary
  width: 640px
  height: 388px
  z-index: 21
  padding: 50px

@media (max-width: 992px)
  .block_text2_gallery
    position: relative
    width: 100%
    left: 0
    top: 0
    margin-top: 0
    margin-left: 0
    padding: 50px 25px
    height: auto


.image5_gallery
  position: relative
  left: 595px
  margin-top: -293px
  z-index: 20
  height: 886px
  width: 774px
@media (max-width: 992px)
  .image5_gallery
    position: relative
    width: 100%
    left: 0
    padding-top: 0
    margin-top: 0
    margin-left: 0
    height: auto

.image6_gallery
  position: relative
  left: 100px
  margin-top: -305px
  z-index: 21
  width: 670px
  height: 432px
@media (max-width: 992px)
  .image6_gallery
    position: relative
    width: 100%
    left: 0
    top: 0
    margin-top: 0
    margin-left: 0
    height: auto
