//********************************General
.navbar
  min-height: 100px
  width: 100%
  //max-width: 1365px
  padding-top: 5px
  padding-bottom: 5px
//box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25)
@media (min-width: 1365px)
  .navbar
    padding-left: calc(50% - 482.5px)
    padding-right: calc(50% - 482.5px)
@media (max-width: 991px)
  .navbar-nav
    text-align: center


.navbar-brand
  margin-top: 0
  padding-top: 10.5px
.navbar-brand img
  width: 258px
  height: 46.125px
@media (min-width: 640px) and (max-width: 991px)
  .navbar
    min-height: 150px
    padding-left: 60px
    padding-right: 52px
  .navbar-brand
    padding-top: 30px
    height: 82px
    width: 450px
  .navbar-brand img
    height: 83px
    width: 445px
  .navbar-toggler
    margin-top: 50px
    margin-right: 19px
    padding: 0
  .burger
    width: 40px



@media (max-width: 639px)
  .navbar
    min-height: 100px
  .navbar-brand
    padding-top: 30px
    height: 46.125px
    width: 250px
  .navbar-toggler
    margin: 39px 0
    padding: 0
    .burger
      height: 1px
      width: 25px
      margin: 6px

@media (max-width: 365px)
  .navbar-brand
    width: 80%
    img
      width: 100%
      height: auto
  .navbar-toggler
    margin-top: 39px
    padding-top: 0
    padding-bottom: 0
    width: 20%
    padding-left: calc(10% - 12.5px)
    top: 0
  .navbar-nav a
    font-size: 24px !important
    line-height: 24px
    margin-top: 10px
    margin-bottom: 10px
    padding-top: 10px
    padding-bottom: 10px
    letter-spacing: 5px
  .navbar-nav
    margin-top: 25px
    margin-bottom: 20px
    padding-top: 10px
    padding-bottom: 10px


.navbar-nav
  margin-right: 0
  line-height: 7px
.navbar-nav a
  font-family: "Perpetua", sans-serif
  padding: 16px 24px 0 24px
  font-size: 16px
  letter-spacing: 4.1px
@media (min-width: 365px) and (max-width: 991px)
  .navbar-nav
    margin-top: 45px
    margin-bottom: 20px
    padding-top: 10px
    padding-bottom: 10px
  .navbar-nav a
    font-size: 30px
    line-height: 0.85em
    margin-bottom: 20px
    margin-top: 20px
    padding-top: 10px
    padding-bottom: 10px
    letter-spacing: 7px
.navbar-collapse
  margin-top: 0

@media (max-height: 413px)
  .navbar-nav
    margin-top: 20px
  .navbar-nav a
    margin-top: 6px
    margin-bottom: 6px


//*************White color theme
.bg-main-white
  background: $cPrimary
  .navbar-nav a
    color: $cFour
  img.grey
    display: block
  img.white
    display: none
  .navbar-toggler.collapsed .burger:nth-of-type(1)
    background: $cFour
  .navbar-toggler.collapsed .burger:nth-of-type(2)
    background: $cFour
  .navbar-toggler.collapsed .burger:nth-of-type(3)
    background: $cFour
  .navbar-toggler .burger:nth-of-type(1)
    background: $cFour
  .navbar-toggler .burger:nth-of-type(2)
    opacity: 0
  .navbar-toggler .burger:nth-of-type(3)
    background: $cFour


//**************Transparent color theme
.bg-main-transparent
  .navbar-nav a
    color: $cPrimary
  .navbar-brand img.grey
    display: none
  .navbar-brand img.white
    display: block
  .navbar-toggler.collapsed .burger:nth-of-type(1)
    background: $cPrimary
  .navbar-toggler.collapsed .burger:nth-of-type(2)
    background: $cPrimary
  .navbar-toggler.collapsed .burger:nth-of-type(3)
    background: $cPrimary
  .navbar-toggler .burger:nth-of-type(1)
    background: $cPrimary
  .navbar-toggler .burger:nth-of-type(2)
    opacity: 0
  .navbar-toggler .burger:nth-of-type(3)
    background: $cPrimary
.navbar-collapse.show
  .bg-main-transparent
    background: black

//********************navbar-toggler

.burger
  height: 4px
  margin: 7px
  border-radius: 3px

.navbar-toggler
  border: none
  background: transparent
  outline: none!important

.navbar-toggler:hover
  background: transparent
  outline: none

.navbar-toggler:active
  background: transparent
  outline: none
.navbar-toggler:disabled
  border: none
  background: transparent
  outline: none


.navbar-toggler .burger
  -webkit-transition: all 250ms ease-out 0s
  -moz-transition: all 250ms ease-out 0s
  -o-transition: all 250ms ease-out 0s
  transition: all 250ms ease-out 0s
.navbar-toggler.collapsed .burger:nth-of-type(1)
  -webkit-transform: rotate(0)
  -ms-transform: rotate(0)
  transform: rotate(0)
.navbar-toggler.collapsed .burger:nth-of-type(2)
  opacity: 1
  filter: alpha(opacity=100)

.navbar-toggler.collapsed .burger:nth-of-type(3)
  -webkit-transform: rotate(0)
  -ms-transform: rotate(0)
  transform: rotate(0)

.navbar-toggler .burger:nth-of-type(1)
  -webkit-transform: rotate(45deg)
  -ms-transform: rotate(45deg)
  transform: rotate(45deg)
  -webkit-transform-origin: 10% 10%
  -ms-transform-origin: 10% 10%
  transform-origin: 10% 10%
.navbar-toggler .burger:nth-of-type(2)
  opacity: 0
  filter: alpha(opacity=0)
.navbar-toggler .burger:nth-of-type(3)
  -webkit-transform: rotate(-45deg)
  -ms-transform: rotate(-45deg)
  transform: rotate(-45deg)
  -webkit-transform-origin: 10% 90%
  -ms-transform-origin: 10% 90%
  transform-origin: 10% 90%

.black
  background: $cFifth
//transition: all 600ms

nav.navbar ul.navbar-nav li.active a
  color: $cFifth !important
.linke
  font-family: "Perpetua",sans-serif
  font-size: 20px
  color: $cFour
@media (min-width: 992px)
  .linke
    display: none
@media (min-width: 640px) and (max-width: 992px)
  .linke
    width: 442px
    padding-left: 372px
@media (min-width: 375px) and (max-width: 639px)
  .linke
    font-size: 16px
    width: 258px
    padding-left: 200px
    margin-top: 15px
@media (min-width: 366px) and (max-width: 374px)
  .linke
    font-size: 16px
    width: 75.5%
    padding-left: calc(72.5% - 45px)
    margin-top: 15px
@media (min-width: 320px) and (max-width: 365px)
  .linke
    font-size: 16px
    width: 78.5%
    padding-left: calc(78.5% - 54px)
    margin-top: 25px
.navbar.black  #navbarCollapse
  margin-top: 45px

