
//******************************************Philosophy page sass


.title
  position: relative
  text-align: center
  font-family: "Perpetua boldital", "Perpetua", sans-serif
  font-weight: 700
  font-size: 38.92px
  line-height: 47.05px
  width: 100%
  max-width: 1090px
//letter-spacing: 3px
@media (max-width: 1090px)
  .title
    padding-right: 20px
    padding-left: 20px
@media (min-width: 1091px)
  .title
    margin-left: calc(50% - 545px)

.title p
  margin-bottom: 30px
  color: $cFour
@media (max-width: 640px)
  .title
    font-size: 28px
    line-height: 34px
  .title p
    margin-bottom: 10px



//***************************Elements of the page Philosophy in the order



//template of textboxes
.textbox
  font-family: Lato,sans-serif
  font-weight: 300
  font-size: 16px
  color: $cTextcl
  letter-spacing: 2px
  line-height: 26px
  p
    margin-bottom: 13px
  a
    color: $cTextcl
    padding: 5px
    text-transform: uppercase
    text-decoration: underline
  a:hover
    color: $cFifth
    text-decoration: none
@media (max-width: 992px)
  .textbox
    font-size: 18px
  .title_textbox
    font-size: 30px
.title_textbox
  font-family: "Perpetua boldital","Perpetua",sans-serif
  font-weight: 700
  font-size: 40px
  line-height: 47.05px
  color: $cFour
  margin-bottom: 15px
//letter-spacing: 3px
@media (max-width: 992px)
  .title_textbox
    font-size: 38px
    margin-bottom: 10px
    line-height: 1
@media (max-width: 767px)
  .title_textbox
    font-size: 28px


//1
.first_img
  position: relative
  margin-top: 0
@media (max-width: 1365px)
  .first_img
    width: 966px
    img
      width: 100%

//2
.philosophy_text
  position: relative
  margin-top: -345px
  left: 565px
  width: 632px
  height: 415px
  background: $cPrimary
  padding: 30px 40px 0 50px
  line-height: 28px
  z-index: 1000
  margin-bottom: 20px

@media (max-width: 1366px)
  .philosophy_text
    position: relative
    left: calc(100% - 799px)
@media (max-width: 992px)
  .philosophy_text
    position: relative
    width: 100%
    padding: 25px
    height: auto
    top: 0
    left: 0
    margin-top: 0
    margin-bottom: 0
  .first_img
    width: 100%
  image
    width: 100%



//3
.second_img
  position: relative
  width: 988px
  margin-top: 0
  margin-left: calc(100% - 988px)
  z-index: 19
@media (max-width: 992px)
  .second_img
    position: relative
    width: 100%
    margin-left: 0
    margin-top: 0
  img
    width: 100%


//4
.third_img
  position: relative
  //left: 100px
  //right: 724px
  margin-top: -50px
  z-index: 20
  .n2
    display: block
  .n2_3
    display: none
@media (min-width: 1089px)
  .third_img
    position: relative
    left: 100px
@media (min-width: 988px) and (max-width: 1088px)
  .third_img
    left: calc(100% - 988px)
@media (max-width: 992px)
  .third_img
    position: relative
    width: 100%
    margin-top: 0
    left: 0
    .n2
      display: none
    .n2_3
      display: block


//5*
.text2_philosophy
  position: relative
  z-index: 100
  margin-top: -410px
  left: 565px
  height: 465px
  width: 632px
  background: $cPrimary
  padding: 30px 40px 0 50px
  margin-bottom: 20px

@media (max-width: 1366px)
  .text2_philosophy
    position: relative
    left: calc(100% - 799px)
@media (max-width: 992px)
  .text2_philosophy
    position: relative
    margin-top: 0
    left: 0
    right: 0
    width: 100%
    height: auto
    padding: 25px
    margin-bottom: 0


//6
.forth_img
  position: relative

@media (max-width: 992px)
  .forth_img
    position: relative
    top: 0
    width: 100%


//7
.fifth_img
  position: relative
  margin-top: -524px
  left: calc(100% - 436px)
  .n5
    display: block
  .n5_3
    display: none
@media (max-width: 992px)
  .fifth_img
    position: relative
    top: 0
    width: 100%
    left: 0
    margin-top: 0
    .n5
      display: none
    .n5_3
      display: block


//8
.text3_philosophy
  position: relative
  left: 565px
  width: 632px
  margin-top: -50px
  background: $cPrimary
  padding: 30px 50px 0 50px
  margin-bottom: 20px
  height: 390px
@media (max-width: 1366px)
  .text3_philosophy
    position: relative
    left: calc(100% - 799px)
@media (max-width: 992px)
  .text3_philosophy
    margin-top: 0
    position: relative
    top: 0
    left: 0
    width: 100%
    height: auto
    padding: 25px
    margin-bottom: 0

//9
.six_img
  position: relative
  margin-top: 0
  left: 100px
@media (min-width: 989px) and (max-width: 1125px)
  .six_img
    position: relative
    width: 1025px
    left: calc(100% - 1025px)

@media (max-width: 992px)
  .six_img
    position: relative
    margin-top: 0
    width: 100%
    left: 0


//10
.seven_img
  position: relative
  margin-top: -150px
  left: 0
@media (max-width: 992px)
  .seven_img
    position: relative
    top: 0
    width: 100%
    left: 0
    margin-top: 0


//11
.text4_philosophy
  position: relative
  margin-top: -491px
  left: 565px
  width: 632px
  background: $cPrimary
  padding: 30px 40px 20px 50px
  height: auto
@media (max-width: 1366px)
  .text4_philosophy
    position: relative
    margin-top: -491px
    left: calc(100% - 799px)
@media (max-width: 992px)
  .text4_philosophy
    position: relative
    top: 0
    left: 0
    width: 100%
    height: auto
    padding: 25px
    margin-top: 0