
//******************************************Philosophy page sass


.title
  text-align: center
  font-family: "Perpetua boldital", "Perpetua", sans-serif
  font-weight: 700
  font-size: 38.92px
  line-height: 47.05px
  width: 100%
  max-width: 1090px
//letter-spacing: 3px
@media (max-width: 1090px)
  .title
    padding-right: 20px
    padding-left: 20px
@media (min-width: 1091px)
  .title
    margin-left: calc(50% - 545px)

.title p
  margin-bottom: 30px
  color: $cFour




//***************************Elements of the page Philosophy in the order



//template of textboxes
.textbox
  font-family: Lato,sans-serif
  font-weight: 300
  font-size: 16px
  color: $cTextcl
  letter-spacing: 2px
  line-height: 26px
  p
    margin-bottom: 13px
  a
    color: $cTextcl
    padding: 5px
    text-transform: uppercase
    text-decoration: underline
  a:hover
    color: $cTextcl
.title_textbox
  font-family: "Perpetua boldital","Perpetua",sans-serif
  font-weight: 700
  font-size: 40px
  line-height: 47.05px
  color: $cFour
  margin-bottom: 30px
//letter-spacing: 3px



//1
@media (max-width: 1365px)
  .first_img
    width: 966px
    img
      width: 100%

//2
.philosophy_text
  position: absolute
  top: 670px
  left: 566px
  width: 632px
  height: 467px
  background: $cPrimary
  padding: 30px 40px 0 50px
  line-height: 28px
  z-index: 1000

@media (max-width: 1366px)
  .philosophy_text
    position: absolute
    left: calc(100% - 800px)
@media (max-width: 988px)
  .philosophy_text
    position: relative
    width: 100%
    padding: 25px
    height: auto
    top: 0
    left: 0
  .first_img
    width: 100%
  image
    width: 100%



//3
.second_img
  width: 988px
  position: relative
  margin-top: 138px
  margin-left: calc(100% - 988px)
  z-index: 19
@media (max-width: 988px)
  .second_img
    width: 100%
    margin-left: 0
    margin-top: 0
  img
    width: 100%


//4
.third_img
  position: absolute
  //left: 100px
  right: 724px
  top: 1600px
  z-index: 20
  .n2
    display: block
  .n2_3
    display: none
@media (min-width: 1089px)
  .third_img
    position: absolute
    left: 100px
@media (min-width: 988px) and (max-width: 1088px)
  .third_img
    left: calc(100% - 988px)
@media (max-width: 988px)
  .third_img
    position: relative
    width: 100%
    top: 0
    left: 0
    .n2
      display: none
    .n2_3
      display: block


//5*
.text2_philosophy
  position: absolute
  z-index: 100
  top: 1560px
  right: 170px
  height: 520px
  width: 632px
  background: $cPrimary
  padding: 30px 40px 0 50px


@media (min-width: 989px) and (max-width: 1197px)
  .text2_philosophy
    position: absolute
    right: 170px

@media (max-width: 988px)
  .text2_philosophy
    position: relative
    top: 0
    right: 0
    width: 100%
    height: auto
    padding: 25px


//6
.forth_img
  position: absolute
  top: 2080px

@media (max-width: 988px)
  .forth_img
    position: relative
    top: 0
    width: 100%


//7
.fifth_img
  position: absolute
  top: 2180px
  left: calc(100% - 436px)
  .n5
    display: block
  .n5_3
    display: none
@media (max-width: 988px)
  .fifth_img
    position: relative
    top: 0
    width: 100%
    left: 0
    .n5
      display: none
    .n5_3
      display: block


//8
.text3_philosophy
  position: absolute
  top: 2495px
  right: 170px
  width: 632px
  background: $cPrimary
  padding: 30px 50px 0 50px
@media (max-width: 988px)
  .text3_philosophy
    position: relative
    top: 0
    left: 0
    width: 100%
    height: auto
    padding: 25px

//9
.six_img
  position: absolute
  top: 2931px
  left: 100px
@media (min-width: 989px) and (max-width: 1125px)
  .six_img
    position: absolute
    width: 1025px
    left: calc(100% - 1025px)

@media (max-width: 988px)
  .six_img
    position: relative
    top: 0
    width: 100%
    left: 0


//10
.seven_img
  position: absolute
  top: 3462px
  left: 0
@media (max-width: 988px)
  .seven_img
    position: relative
    top: 0
    width: 100%
    left: 0


//11
.text4_philosophy
  position: absolute
  top: 3368px
  right: 170px
  width: 632px
  background: $cPrimary
  padding: 30px 40px 0 50px
@media (max-width: 988px)
  .text4_philosophy
    position: relative
    top: 0
    left: 0
    width: 100%
    height: auto
    padding: 25px




.animated
  -webkit-animation-duration: .6s
  -o-animation-duration: .6s
  -moz-animation-duration: .6s
  animation-duration: .6s

  -webkit-animation-delay: 1s
  -o-animation-delay: 1s
  -moz-animation-delay: 1s
  animation-delay: 1s