
.preloader
  position: fixed
  left: 0
  top: 0
  z-index: 10000
  width: 100%
  height: 100%
  overflow: visible
  background-size: cover
  .logodt
    position: relative
    display: block
    top: calc(50% - 100px)
    left: calc(50% - 265px)
  .logomob
    position: relative
    display: none
    top: 0
    left: 0

@media (max-width: 640px)
  .preloader
    background-size: cover
    .logodt
      position: relative
      display: none
      margin-top: 0
      margin-left: 0
    .logomob
      position: relative
      display: block
      width: 100px
      height: 100px
      top: calc(50% - 50px)
      left: calc(50% - 50px)
@media (min-width: 641px) and (max-width: 992px)
  .preloader
    .logodt
      position: relative
      display: block
      width: 400px
      height: auto
      top: calc(50% - 40px)
      left: calc(50% - 200px)