html
  width: 100%
  height: auto

body
  width: 100%
  height: 100%
  background: $cPrimary
  color: $cPrimary
  overflow-x: hidden
  -webkit-font-smoothing: subpixel-antialiased !important
  -webkit-backface-visibility: hidden
  -moz-backface-visibility: hidden
  -ms-backface-visibility: hidden
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%
  scroll-behavior: smooth
  .nicescroll-rails-hr
    display: none


.wrapper
  position: relative
  margin-top: 100px
  height: 100%
  width: 100%
  min-height: 896px
  background: $cPrimary


.container_big
  max-width: 1366px
  position: relative
  width: 100%
  height: auto
  padding-top: 50px
  background: $cThird
  z-index: 3
  overflow: hidden

@media (min-width: 640px) and (max-width: 992px)
  .container_big
    padding-top: 75px
    overflow: hidden
@media (min-width: 320px) and (max-width: 639px)
  .container_big
    padding-top: 25px

@media (min-width: 1365px)
  .container_big
    margin-left: calc(50% - 682.5px)
    margin-right: calc(50% - 682.5px)

@media (max-width: 992px)
  .container_big
    margin-bottom: 20px


@import "contacts"
@import "menu"
@import "philosophy2"
@import "case_study"
@import "galleryedit"
@import "preloader"