/*=================================================
Class Definitions
=================================================*/

.immersive_slider {
    height: 100vh;
    max-width: 100%;
    opacity: 0.8;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

@media (max-height: 480px) {
    .immersive_slider {
        height: 460px;
    }

}

@media (min-width: 641px) {
    .immersive_slider {
        background: url(../img/Slider/slider_overlay.png);
        background-size: 100% 100%;
    }
}

@media (max-width: 640px) {
    .immersive_slider {
        background: url(../img/Slider/overlaym.png);
        background-size: 100% 100%;
    }
}

.immersive_slider .is-slide  {
    display: table;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 50px 20px;
    position: absolute;
}
.immersive_slider .is-slide .image  {
    float: none;
    width: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    vertical-align: middle;
    display: table-cell;
    padding: 0 0 0 10px;
}
.is-bg-overflow {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.is-overflow, .is-bg-overflow {
    height: 100%;
}

.ease {
    -webkit-transition: 3000ms ease all;
    -moz-transition: 3000ms ease all;
    -o-transition: 3000ms ease all;
    transition: 3000ms ease all;
}

.bounce {
    -webkit-transition: 1000ms cubic-bezier(0.175, 0.885, 0.420, 1.310) all;
    -moz-transition: 1000ms cubic-bezier(0.175, 0.885, 0.420, 1.310) all;
    -o-transition: 1000ms cubic-bezier(0.175, 0.885, 0.420, 1.310) all;
    transition: 1000ms cubic-bezier(0.175, 0.885, 0.420, 1.310) all;
}

.slide {
    -webkit-transition: 5000ms cubic-bezier(0.175, 0.885, 0.420, 1.310) all;
    -moz-transition: 5000ms cubic-bezier(0.175, 0.885, 0.420, 1.310) all;
    -o-transition: 5000ms cubic-bezier(0.175, 0.885, 0.420, 1.310) all;
    transition: 5000ms cubic-bezier(0.175, 0.885, 0.420, 1.310) all;
}

.no-animation {
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -o-transition: none!important;
    transition: none !important;
}

.immersive_slider .is-slide .image img{
    max-width: 100%;
    display: block;
    width: 100%;
}

.immersive_slider .is-slide .content {
    float: none;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: white;
    text-align: left;
    line-height: 50%;
    vertical-align: middle;
    display: table-cell;
    padding: 0 25px;
}

.immersive_slider .is-slide .content h2{
    font-size: 38px;
    font-weight: 300;
    text-align: center;
}

.immersive_slider .is-slide .content h6{
    font-size: 8px;
    font-weight: 300;
    text-align: center;
    color: white;
    opacity: 0.3;
    font-family: "Lato Light", sans-serif;
}

@media (max-width: 640px) {
    .immersive_slider .is-slide .content h2 {
        font-size: 28px;
        line-height: 1.2;
    }
}
/*@media (max-width: 480px) {
  .immersive_slider .is-slide .content h2 {
    font-size: 20px;
    line-height: 1.2;
  }
}*/
.is-container {
    position: relative;
    overflow: hidden;
}

.is-container .is-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.is-container .is-background img{
    width: 100%;
    height: 100%;
    left: 0;
    position: relative;
    overflow: hidden;
}
@media (max-width: 640px) {
    .is-container .is-background img {
        width: 100%;
        height: 100%;
    }
}

.is-container .is-background.gs_cssblur {
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    filter: blur(20px);
}

.is-pagination {
    position: absolute;
    left: 0;
    width: 10000px;
    bottom: 20px;
    z-index: 5;
    list-style: none;
    margin-top: 0;
    padding: 0;
    text-align: center;
    margin-left: calc(50% - 5000px);
}

@media (max-width: 705px) {
    .is-pagination {
        margin-left: calc(50% - 70.5px);
        width: 2000px;
        text-align: left;
        margin-bottom: 75px;
    }
}
#pagination {
    bottom: 0;
}
@media (max-height: 450px) {
    .is-pagination {
        bottom: 30px !important;
    }
    #pagination {
        bottom: 30px !important;
    }
}
@media (max-width: 1366px) {
    .is-pagination {
        bottom: 0;
    }
}



.is-pagination li {
    display: inline-table;
    text-align: center;
    position: relative;
    background: transparent;
    width: 141px;
}

/*
@media (min-width: 414px) and (max-width: 639px) {
  /*.is-pagination {
    display: block;
    overflow: visible;
    text-align: center;
    background: transparent;
    width: 70%;
    margin-left: calc(50% - 35%);
    bottom: 0;
    margin-bottom: 0;
  }
  .is-pagination li {
    padding: 0;
    width: 141px;
  }
}
/*@media (max-width: 431px) {
    .is-pagination li {
        padding: 0;
        width: 140px;
    }
}*/
.is-pagination  a:before {
    display: flex;
    text-align: center;
    margin: 0 auto;
}

.is-pagination li a{
    display: flex;
    padding: 0;
    width: auto;
    height: auto;
    color: white;
    background: transparent;
    font-size: 8px;
    opacity: 0.3;
    text-decoration: none;
    font-family: "Lato Light", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.is-pagination li a.active{
    display: flex;
    width: auto;
    height: auto;
    color: white;
    background: transparent;
    font-size: 11px;
    opacity: 1;
    text-decoration: none;
    font-family: "Lato Light", sans-serif;
    letter-spacing: 2px;
    -webkit-transition: 2500ms cubic-bezier(0.175, 0.885, 0.420, 1.310) all;
    -moz-transition: 2500ms cubic-bezier(0.175, 0.885, 0.420, 1.310) all;
    -o-transition: 2500ms cubic-bezier(0.175, 0.885, 0.420, 1.310) all;
    transition: 2500ms cubic-bezier(0.175, 0.885, 0.420, 1.310) all;
}

.is-next,  .is-prev {
    padding: 5px 5px 15px;
    font-size: 50px;
    position: absolute;
    bottom: 50%;
    margin-bottom: -36px;
    width: 35px;
    color: #FFF;
    display: inline-block;
    line-height: 100%;
    background: rgba(0, 0, 0, 0.35);
}

.is-next {
    right: 10px;
}

.is-prev {
    left: 10px;
}